body {
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

.field label {
  display: inline-block;
  width: 5em;
}

#book-list li {
  cursor: pointer;
}

#add-book button {
  margin-top: 2em;
}

#book-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
